<h3 [hidden]="res">{{ equipe }}</h3>
<ul>
  <li *ngFor="let name of names">{{ name }}</li>
</ul>
<br />

<div *ngIf="candidats; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock
  ><table border="1" align="center" class="table">
    <tr>
      <th>Nom</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let candidat of candidats">
      <td>{{ candidat.nom | myPipe }}</td>
      <td>{{ candidat.age }}</td>
      <td>{{ candidat.email }}</td>
    </tr>
    <caption>
      Liste des étudiants
    </caption>
  </table></ng-template
>
<ng-template #elseBlock><div>Liste vide</div></ng-template>
<!--<div *ngIf="candidats">
  <table class="table">
    <tr>
      <th>Nom</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let candidat of candidats">
      <td>{{ candidat.nom }}</td>
      <td>{{ candidat.age }}</td>
      <td>{{ candidat.email }}</td>
    </tr>
    <caption>
      Liste des étudiants
    </caption>
  </table>
</div>
<div *ngIf="!candidats">Liste vide</div>-->

<button class="btn btn-primary" (click)="affichage()">cliquer ici</button>

<div>Formation Angular 11 - Ionic 6</div>

<br />
<h4 style="color: red; font-size: 14px">Taper le nom de la formation</h4>
<input type="text" [(ngModel)]="formation" />
<p>{{ formation }}</p>
